<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

		<title>Shnook</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do%20Hyeon" />

		<link rel="stylesheet" type="text/css" media="all" href="/public/css/index.css" />
		<link rel="icon" type="image/png" href="/public/images/icon.png" />
		<script src="/public/js/socket.io.min.js"></script>
		<script defer src="/public/js/game/index.js"></script>
	</head>
	<body>
		<h1 class="main-title">Don't get <span class="main-title-shnooked">Shnooked</span>!</h1>
		<div class="room-info">
			<span id="room-timer">30</span>
			<span class="secondary-title" id="room-id-title"></span>
			<span class="secondary-title" id="room-players"></span>
			<span class="secondary-title" id="room-rounds"></span>
			<span><button class="btn" id="room-owner-start">Start</button></span>
		</div>

		<div class="challenge-div">
			<div class="challenge-div-points">+200</div>
			<div class="challenge-div-content">Use Crown on the secret card for at least 5 seconds</div>
			<div class="challenge-div-v">✔</div>
		</div>

		<div class="main">
			<div class="flex">
				<div class="main-players"></div>
				<div class="main-cards">
					<div class="card">
						<span> A </span>
						<div class="card-buttons">
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
						<div class="wave-wrapper">
							<div class="card-wave"></div>
						</div>
					</div>
					<div class="card">
						<span> B </span>
						<div class="card-buttons">
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
						<div class="wave-wrapper">
							<div class="card-wave"></div>
						</div>
					</div>
					<div class="card">
						<span> C </span>
						<div class="card-buttons">
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
						<div class="wave-wrapper">
							<div class="card-wave"></div>
						</div>
					</div>
					<div class="card">
						<span> D </span>
						<div class="card-buttons">
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
						<div class="wave-wrapper">
							<div class="card-wave"></div>
						</div>
					</div>
				</div>
				<div class="main-chat">
					<span id="game-mode-span"></span>
					<div class="chat-content-wrapper">
						<div class="chat-content"></div>
					</div>
					<div class="main-chat-form">
						<button type="button" id="chat-button">&lt;</button>
						<input type="text" id="chat-input" placeholder="Shnook your opponents!" />
					</div>
					<button type="button" class="go-to-chat-btn"></button>
				</div>
			</div>
		</div>

		<div class="join-or-create-options">
			<input type="text" class="inp" id="username-input" placeholder="Username" />
			<br />
			<div class="join-or-create-scroller">
				<div class="join-or-create">
					<div class="join-form join-or-create-form">
						<input type="text" class="inp" id="room-id-input" placeholder="Room ID" />
						<br />
						<button class="btn join-or-create-button">Join</button>
					</div>
					<div class="create-form join-or-create-form">
						<div class="input-and-text">
							<label>Time Per Round: </label>
							<input class="timePerRoundInput" type="range" value="10" min="5" max="60" oninput="this.nextElementSibling.innerText = this.value" />
							<span>10</span>
						</div>
						<div class="input-and-text">
							<label>Number Of Rounds: </label>
							<input class="numberOfRoundsInput" type="range" value="5" min="3" max="20" oninput="this.nextElementSibling.innerText = this.value" />
							<span>5</span>
						</div>
						<div class="input-and-text">
							<label>Max Players: </label>
							<input class="maxPlayersInput" type="range" value="6" min="2" max="12" oninput="this.nextElementSibling.innerText = this.value" />
							<span>6</span>
						</div>
						<button class="btn join-or-create-button">Create</button>
					</div>
				</div>
			</div>
			<span class="error join-or-create-fail"></span>
			<button class="btn join-or-create-swap"></button>
		</div>
		<div class="hide-all"></div>
	</body>
</html>
