<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shnook</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" type="text/css" media="all" href="/public/css/index.css" />
		<script src="/public/js/socket.io.min.js"></script>
		<script defer src="/public/js/game/index.js"></script>
	</head>
	<body>
		<h1 class="main-title">Don't get <span class="main-title-shnooked">shnooked</span>!</h1>
		<h2 class="secondary-title"></h2>

		<div class="main">
			<div class="main-cards">
				<div class="card">A</div>
				<div class="card">B</div>
				<div class="card">C</div>
				<div class="card">D</div>
			</div>
			<div class="main-chat">
				<h3>Game Chat: <%= id %></h3>
				<div class="chat-content"></div>
				<div class="main-chat-form">
					<button type="button" id="chat-button">&lt;</button>
					<input type="text" id="chat-input" placeholder="Shnook your opponents!" />
				</div>
			</div>
		</div>

		<div class="join-or-create">
			<div class="join-form join-or-create-form">
				<input type="text" class="inp" placeholder="Room ID" />
				<br />
				<button class="btn">Join</button>
				<span class="error join-fail"></span>
			</div>
			<div class="create-form join-or-create-form">
				<button class="btn">Create</button>
			</div>
		</div>
	</body>
</html>
