body,
html {
	margin: 0;
	padding: 0;
	background-color: #292929;
	font-family: 'Roboto';
}

.flex {
	display: flex;
}

.btn {
	border: none;
	background-color: #9b9bbd;
	border-radius: 9999px;
	padding: 0.68em;
	min-width: 7rem;
	font-size: 1.5rem;
	margin: 4px;
	color: black;
}

.btn:hover {
	cursor: pointer;
	background-color: #a293c3;
}

.inp {
	border: none;
	margin: 4px;
	border-radius: 9999px;
	padding: 0.4em 1.2rem;
	font-size: 1.5rem;
	color: black;
}

.main {
	margin: auto;
}

.main-title {
	margin: 5rem;
	margin-bottom: 1rem;
	font-size: 4rem;
	text-align: center;
	color: white;
}

.secondary-title {
	margin: 2rem;
	font-size: 2.2rem;
	text-align: center;
	color: #bdbdbd;
}

.room-info {
	display: flex;
	justify-content: space-evenly;
}

#room-owner-start {
	display: inline;
	vertical-align: middle;
	margin: 1rem;
}

#room-timer {
	font-size: 2rem;
	background-color: #1515ff;
	display: none;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	color: white;
	border: 0.4rem solid #a515ff;
	padding: 0.6rem;
	margin: 2rem;
	border-radius: 99999999px;
}

#game-mode-span {
	position: relative;
	display: none;
	font-size: 2rem;
	background-color: rgb(107, 222, 105);
	color: white;
	text-align: center;
	padding: 0.2rem;
}

@keyframes slapSecret {
	from {
		transform: scale(4) translateZ(5rem) translateX(-50%);
	}

	to {
		transform: rotate(15deg) translateX(-50%);
	}
}

.secret-card::before {
	content: 'TOP SECRET';
	color: red;
	width: fit-content;
	transform: rotate(15deg) translateX(-50%);
	font-size: 2rem;
	background-color: #85313155;
	background-blend-mode: multiply;
	background-image: url('/public/images/noise.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 25%;
	left: 70%;
	padding: 0.4rem;
	border: 2px solid red;

	animation-name: slapSecret;
	animation-duration: 0.2s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes titleAnimation {
	from {
		color: white;
	}

	to {
		color: #a1a1ff;
	}
}

.main-title-shnooked {
	color: gray;
	animation-name: titleAnimation;
	animation-duration: 0.5s;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.main {
	display: flex;
	margin: 0 3rem;
}

.main-players {
	background-color: white;
	height: 600px;
	flex: 1;
}

.player-li {
	padding: 4px 8px;
	font-size: 1.5rem;
	text-align: center;
	color: #313131;
}

.player-li span {
	display: block;
	color: gray;
	font-size: 1rem;
	padding: 0.1rem;
}

.main-chat {
	background-color: white;
	margin-left: 1rem;
	flex: 1;
	height: 600px;
	position: relative;
}

.main-chat-form {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

#chat-input {
	border: none;
	outline: none;
	background-color: #cdcdcd;
	color: black;
	width: 80%;
	font-size: 1.4em;
	padding: 0.2rem;
	flex-grow: 1;
}

#chat-button {
	width: 30px;
	background-color: #a1a1ff;
	border: none;
	font-size: 1.2rem;
	padding: 0.2rem;
}

#chat-button:hover {
	cursor: pointer;
}

.chat-content {
	text-align: start;
	overflow-y: scroll;
	max-height: 560px;
	padding: 1rem;
}

.main-cards {
	display: flex;
	flex: 3;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.main-cards .card {
	flex-basis: 40%;
	height: 200px;
	background-color: #a1a1a1;
	color: #191919;
	position: relative;
	padding: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-size: 8rem;
	border-radius: 1rem;
}

.main-cards .card:hover {
	cursor: pointer;
}

.main-cards .card span {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.card-guessers {
	font-size: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1rem;
}

.main-cards .card:hover::after {
	margin-left: -1rem;
}

.main-cards .card:hover::after,
.card-locked {
	content: '';
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, red 4px, transparent 4px) 0 0, linear-gradient(to right, red 4px, transparent 4px) 0 100%, linear-gradient(to left, red 4px, transparent 4px) 100% 0, linear-gradient(to left, red 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, red 4px, transparent 4px) 0 0, linear-gradient(to bottom, red 4px, transparent 4px) 100% 0, linear-gradient(to top, red 4px, transparent 4px) 0 100%, linear-gradient(to top, red 4px, transparent 4px) 100% 100%;
	border-radius: 0 !important;

	background-repeat: no-repeat;
	background-size: 20px 20px;
	position: absolute;
}

.join-or-create-form {
	height: 200px;
	flex: 1;
	border: 1px solid #a1a1a1;
	padding: 2rem;
	display: flex;
	align-content: center;
	flex-direction: column;
	margin: 1rem;
	border-radius: 2rem;
}

.join-or-create {
	display: flex;
	width: 40vw;
	justify-content: center;
	margin: auto;
}

.error {
	color: red;
}
